{% extends "./base.html" %}{% load static %}
{% block index %}
  <!-- static 폴더내에 존재하는 index.css 파일 사용 -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

  <!-- 글쓰기 버튼 공간 -->
  <div class="write-box">
    {% if user.is_active %}
      <button onclick="location.href='/write/';" class="write-button">
        글쓰기
      </button>
    {% endif %}
  </div>

  <!-- 프로필 사진 / 카테고리 목록 / 게시글 목록 공간 -->
  <div class="middle">
    <div class="sidebar">
      <!-- 프로필 사진 및 이름 -->
      <div class="profile">
        <div class="profile-img">
          <img src="{% static 'image/profile.png' %}"/>
        </div>
        <div class="profile-text">
          <p class="team-title">웹프로그래밍</p>
          <p class="team-semititle">9조</p>
        </div>
      </div>

      <!-- 카테고리 목록 -->
      <div class="cate-title">
        <div>
          <i class="fa-solid fa-bars-staggered"></i>
          카테고리 목록</div>
        <!-- 로그인이 되어있을 경우 카테고리 추가/삭제 페이지로 갈 수 있는 버튼 추가 -->
        {% if user.is_active %}
          <a href="/option/" class="cate-add" style="font-size:15px">
            <i class="fa-solid fa-gear"></i>
          </a>
        {% endif %}
      </div>
      <div onclick="location.href='/';" class="category-box">
        <div style="padding-left:20px">전체보기</div>
        <div class="category-count">
          (
          {{ all_post }}
          )</div>
      </div>
      {% for category in categorys %}

        <!-- 선택한 카테고리는 색을 변경 -->
        <!-- index.html과 유일하게 다른 코드 -->
        {% if cate_name == category.lower_name %}
          <div onclick="location.href='/category/{{ category.cate_name | lower}}/';" class="category-box">
            <div style="padding-left:20px; color:#4169e1">{{ category.cate_name }}</div>
            <div class="category-count">
              (
              {{ category.post_count }}
              )</div>
          </div>

        {% else %}
          <div onclick="location.href='/category/{{ category.cate_name | lower}}/';" class="category-box">
            <div style="padding-left:20px">{{ category.cate_name }}</div>
            <div class="category-count">
              (
              {{ category.post_count }}
              )</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- 게시글 박스 -->
    <div class="content">
      {% for post in posts %}
        <div onclick="location.href='/posts/{{ post.id }}/';" class="post-box">
          <div class="content-text">
            <p class="content-title">{{ post.p_title }}</p>
            <div class="sub-detail">
              <p>
                <i class="fa-solid fa-bookmark"></i>
                {{ post.category_title }}</p>
              <p>
                <i class="fa-regular fa-calendar"></i>
                {{ post.p_created | date:'Y.m.d'}}</p>
              <p>
                <i class="fa-regular fa-comment-dots"></i>
                댓글
                {{post.comments_count }}건</p>
            </div>
            <p class="content-description">{{ post.p_desc }}</p>
          </div>
          {% if post.thumbnail %}
            <img src="{{ post.thumbnail.url }}" alt=""/>
          {% endif %}
        </div>
        {% endfor%}
      </div>
    </div>
  {% endblock %}
