{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9ef1e52ac8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>MyBlog</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="head-logo">
          <i class="fa-solid fa-code"></i>
          <a href="/">codeblog</a>
        </div>
        <ul class="head-menu">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li>
            <a
              target="_blank"
              href="mailto:example@yonsei.ac.kr?subject=contact e-mail"
              >CONTACT</a
            >
          </li>
        </ul>
        <ul class="head-link">
          <li>
            <a href="https://www.instagram.com" target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://www.github.com" target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              ><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a
            >
          </li>
        </ul>
        <div class="nav-sidebar">
          <div onclick="location.href='/';" class="category-box">ALL</div>
          {% for category in categorys %}
          <div
            onclick="location.href='/category/{{ category.cate_name | lower}}/';"
            class="category-box"
          >
            {{ category.cate_name }}
          </div>
          {% endfor %}
        </div>
        <a href="#" class="navbar_toggleBtn">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
      <div class="write-box">
        <button onclick="location.href='/write/';" class="write-button">
          글쓰기
        </button>
      </div>
      <div class="middle">
        <div class="sidebar">
          <div class="cate-title">카테고리 목록</div>
          <div onclick="location.href='/';" class="category-box">ALL</div>
          {% for category in categorys %}
          <div
            onclick="location.href='/category/{{ category.cate_name | lower}}/';"
            class="category-box"
          >
            {{ category.cate_name }} ({{ category.post_count }})
          </div>
          {% endfor %}
        </div>
        <div class="content">
          {% for post in post_list %}
          <div
            onclick="location.href='/posts/{{ post.id }}/';"
            class="post-box"
          >
            <div class="content-text">
              <h1>{{ post.p_title }}</h1>
              <h4>{{ post.p_desc }}</h4>
            </div>
            {% if post.thumbnail %}
            <img src="{{ post.thumbnail.url }}" alt="" />
            {% else %}
            <img src="" alt="" />
            {% endif %}
          </div>
          {% endfor%}
        </div>
      </div>
      <div class="footer"></div>
      <button class="go-first" onclick="window.scrollTo(0,0);">
        <i class="fa-solid fa-chevron-up"></i>
      </button>
    </div>
  </body>
</html>
