{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9ef1e52ac8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>{{post.p_title}}</title>
  </head>
  <body>
    <div class="header">
      <p>{{post.p_title}}</p>
    </div>
    <div class="content">
      <div class="thumbnail">
        {% if post.thumbnail %}
        <img src="{{post.thumbnail.url}}" />
        {% endif %}
      </div>
      <div class="post-detail">
        <p>{{post.p_contents | linebreaksbr }}</p>
      </div>
    </div>
    <div class="comment-box">
      <form method="POST">
        {% csrf_token %}
        <textarea name="comment"></textarea>
        <label>ID</label>
        <input type="text" name="comment_id" />
        <label>PW</label>
        <input type="password" name="comment_pw" />
        <button type="submit">댓글 작성</button>
      </form>
      <ul class="comments">
        {% for comment in post.comments_set.all %}
        <li class="comment">{{ comment.c_contents }}</li>
        {% empty %}
        <li class="comment-empty">아직 댓글이 없습니다</li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer"></div>
  </body>
</html>
