<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9ef1e52ac8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/index.css" />
    <script src="../../../static/main.js" defer></script>
    <title>MyBlog</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="head-logo">
          <i class="fa-solid fa-code"></i>
          <a href="">codepage</a>
        </div>
        <ul class="head-menu">
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
        <ul class="head-link">
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-github"></i></li>
        </ul>
        <a href="#" class="navbar_toggleBtn">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
      <div class="middle">
        <div class="sidebar"></div>
        <div class="content"></div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
