{% extends "./base.html" %}
{% load static %}
{% block login %}

  <!-- static 폴더내에 존재하는 index.css 파일 사용 -->
  <link rel="stylesheet" href="{% static 'css/comment.css' %}"/>

  <form method="POST" class="input-box">
    {% csrf_token %}
    <div class="input-info">
      <input type="text" name="u_id" placeholder="아이디" required="required">
      <input type="password" name="u_pw" placeholder="비밀번호" required="required"/>
    </div>
    <button type="submit" class="button-box">확인</button>
  </form>

{% endblock %}
