{% extends "./base.html" %}
{% load static %}
{% block modify %}

  <!-- static 폴더내에 존재하는 modify.css 파일 사용 -->
  <link rel="stylesheet" href="{% static 'css/modify.css' %}"/>

  <!-- 게시글 수정 박스 -->
  <form method="POST" enctype="multipart/form-data" class="post-box">
    {% csrf_token %}

    <!-- 수정 버튼 공간 -->
    <div class="button-box">
      <div></div>
      <div>게시글 수정하기</div>
      <button type="submit" class="write-button" onclick="return confirm('변경된 사항을 반영하시겠습니까?');">수정하기</button>
    </div>

    <!-- 제목 / 설명 / 내용 -->
    <input type="text" name="title" value="{{ post.p_title }}">
    <input type="text" name="description" value="{{ post.p_desc }}"/>
    <textarea name="content" cols="50" rows="10">{{post.p_contents}}</textarea>

    <!-- 카테고리 선택 -->
    <label for="category" style="height: 50px">카테고리
      <select name="categorys" id="category">
        {% for cate in categorys %}
          <option value="{{ cate.id }}">{{ cate.cate_name }}</option>
        {% endfor %}
      </select>
    </label>

    <!-- 썸네일 -->
    <label>썸네일
      <input name="thumbnail" type="file"/></label>
  </form>
{% endblock %}