.description {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}
.add-category {
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
  height: 50px;
  margin-bottom: 30px;
}
.add-category input {
  width: 40%;
  border: 1px solid #c9c9c9;
  font-family: "Noto Sans KR", sans-serif;
  border-right: none;
  padding-left: 10px;
}
.add-category button {
  width: 10%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  border: 1px solid #c9c9c9;
  cursor: pointer;
}
.category-box {
  display: flex;
  width: 25%;
  margin: auto;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.category-box a {
  margin-left: 10px;
  transition: 0.5s;
}
.modify:hover {
  color: #4169e1;
}
.delete:hover {
  color: rgb(255, 71, 71);
}
