@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

/* PC version CSS */
html {
  font-size: 10px;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.header-background {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
}
.header a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  transition: 0.5s;
  color: black;
}
.head-logo a {
  font-family: "Chakra Petch", sans-serif;
}
.header a:hover {
  color: #9c5d47;
}
.head-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.head-menu li {
  padding: 8px 12px;
}
.head-link {
  list-style: none;
  padding-left: 0;
  display: flex;
}
.head-link li {
  padding: 8px 12px;
}
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 2.4rem;
}
.nav-sidebar {
  display: none;
  width: 100%;
}
.nav-category-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.6rem;
  color: black;
  transition: 0.5s;
}
.nav-category-box:hover {
  color: #9c5d47;
}
.footer {
  width: 100%;
  max-width: 800px;
  height: 80px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.head-title {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.6rem;
}
.copyright {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(140, 140, 140);
  font-weight: 200;
  margin: 0;
  font-size: 1.2rem;
}
.go-first {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 100%;
  background-color: #f1f3f5;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.go-first:hover {
  background-color: #9c5d47;
  color: white;
}
/* Tablet and Mobile version CSS */
@media screen and (max-width: 1023px) {
  html {
    font-size: 9px;
  }
  .header {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
  }
  .header a {
    font-size: 1.8rem;
  }
  .head-logo a {
    padding-left: 20px;
  }
  .head-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .head-menu li {
    width: 100%;
    text-align: center;
  }
  .head-link {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggleBtn {
    display: block;
  }
  .head-menu.active,
  .head-link.active,
  .nav-sidebar.active {
    display: flex;
  }
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 424px) {
  html {
    font-size: 7px;
  }
}
