.post-box {
  width: 70%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  font-family: "Noto Sans KR", sans-serif;
}
.button-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.write-button {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  background: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
.post-box input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.post-box textarea {
  outline: none;
  resize: none;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}
