<!-- 모든 templates의 부모가 되는 html 파일 -->
<!-- header / sidebar / footer가 모든 templates에 존재하기 때문에 코드의 중복을 제거하기 위해 block, extends 이용 -->
<!-- block에 해당하는 부분에 자식의 정보들이 들어감 -->

{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- 아이콘 사용 -->
    <script src="https://kit.fontawesome.com/9ef1e52ac8.js" crossorigin="anonymous"></script>

    <!-- static 폴더내에 존재하는 default.css 파일 사용 -->
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>

    <!-- nav-bar 토글 사용을 위한 JS코드 사용 -->
    <script src="{% static 'js/main.js' %}" defer="defer"></script>

    <title>hyodev</title>

    <!-- favicon 사용-->
    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">

  </head>

  <body>
    <div class="container">
      <!-- 헤더 -->
      <div class="header-background">
        <div class="header">
          <div class="head-logo">
            <a href="/">
              <i class="fa-solid fa-code"></i>
              hyodev</a>
          </div>
          <ul class="head-menu">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/category">Category</a>
            </li>
            <li>
              <a target="_blank" href="mailto:alexization@naver.com?subject=contact e-mail">Contact</a>
            </li>
          </ul>
          <ul class="head-link">
            <li>
              {% if user.is_active %}
                <a href="/logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  Logout</a>
              {% else %}
                <a href="/login">
                  <i class="fa-solid fa-arrow-right-to-bracket"></i>
                  Login</a>
              {% endif %}
            </li>
          </ul>
          <a href="#" class="navbar_toggleBtn">
            <i class="fa-solid fa-bars"></i>
          </a>
        </div>
      </div>

      {% block index %}{% endblock %}
      {% block category %}{% endblock %}
      {% block detail %}{% endblock %}
      {% block write %}{% endblock %}
      {% block about %}{% endblock %}
      {% block login %}{% endblock %}
      {% block modify %}{% endblock %}
      {% block category_option %}{% endblock %}
      {% block category_modify %}{% endblock %}

      <!-- 하단바 공간 -->
      <div class="footer">
        <div class="head-title">
          <i class="fa-solid fa-code"></i>
          <a href="/">hyodev</a>
        </div>
        <p class="copyright">© 2023 Hyo Seok, Baek. All rights reserved</p>
      </div>

      <!-- 클릭시 맨 위로 이동 -->
      <button class="go-first" onclick="window.scrollTo(0,0);">
        <i class="fa-solid fa-chevron-up"></i>
      </button>
    </div>
  </body>

</html>
