{% extends "./base.html" %}{% load static %}
{% block index %}
  <!-- static 폴더내에 존재하는 category.css 파일 사용 -->
  <link rel="stylesheet" href="{% static 'css/category.css' %}"/>

  <div class="category-list">
    {% for category in categorys %}
      <!-- 선택한 카테고리는 색을 변경 -->
      {% if cate_name == category.lower_name %}
        <div onclick="location.href='/category/{{ category.cate_name | lower}}/';" class="category-box" style="background-color:#a75e2d">
          <div>{{ category.cate_name }}</div>
          <div class="category-count">
            (
            {{ category.post_count }}
            )</div>
        </div>

      {% else %}
        <div onclick="location.href='/category/{{ category.cate_name | lower}}/';" class="category-box">
          <div>{{ category.cate_name }}</div>
          <div class="category-count">
            (
            {{ category.post_count }}
            )</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- 게시글 목록 공간 -->
  <div class="middle">
    <!-- 게시글 박스 -->
    <div class="content">
      {% for post in posts %}
        <div onclick="location.href='/posts/{{ post.id }}/';" class="post-box">
          <div class="content-text">
            <p class="content-title">{{ post.p_title }}</p>
            <div class="sub-detail">
              <p>
                <i class="fa-solid fa-bookmark" style="color:#CC0000"></i>
                {{ post.category_title }}</p>
              <p>
                <i class="fa-regular fa-calendar" style="color:#660000"></i>
                {{ post.p_created | date:'Y-m-d'}}</p>
              <p>
                <i class="fa-regular fa-comment-dots"></i>
                댓글
                {{post.comments_count }}건</p>
            </div>
            <p class="content-description">{{ post.p_desc | truncatechars:90}}</p>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  {% endblock %}
