{% extends "./base.html" %}{% load static %}
{% block index %}
  <!-- static 폴더내에 존재하는 index.css 파일 사용 -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

  <!-- 글쓰기 버튼 공간 -->
  <div class="write-box">
    {% if user.is_active %}
      <button onclick="location.href='/write/';" class="write-button">
        글쓰기
      </button>
    {% endif %}
  </div>

  <!-- 프로필 사진 / 카테고리 목록 / 게시글 목록 공간 -->
  <div class="middle">
    <!-- 게시글 박스 -->
    <div class="content">
      {% for post in posts %}
        <div onclick="location.href='/posts/{{ post.id }}/';" class="post-box">
          <div class="content-text">
            <p class="content-title">{{ post.p_title }}</p>
            <div class="sub-detail">
              <p>
                <i class="fa-solid fa-bookmark"></i>
                {{ post.category_title }}</p>
              <p>
                <i class="fa-regular fa-calendar"></i>
                {{ post.p_created | date:'Y.m.d'}}</p>
              <p>
                <i class="fa-regular fa-comment-dots"></i>
                댓글
                {{post.comments_count }}건</p>
            </div>
            <p class="content-description">{{ post.p_desc }}</p>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  {% endblock %}
