@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400;700&display=swap");

/* PC version CSS */
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e767;
  padding: 8px 12px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
}
.header a {
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
}
.head-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.head-menu li {
  padding: 8px 12px;
}
.head-link {
  list-style: none;
  padding-left: 0;
  display: flex;
}
.head-link li {
  padding: 8px 12px;
}
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}
.nav-sidebar {
  display: none;
  width: 100%;
}
.write-box {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.write-button {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  background: none;
  margin-right: 30px;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
.middle {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}
.profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
}
.profile-img {
  width: 150px;
  height: 150px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 75px;
}
.profile-img img {
  width: 100%;
  height: 100%;
}
.profile-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.team-title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
}
.team-semititle {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18px;
  color: rgb(121, 121, 121);
}
.cate-title {
  font-family: "Nanum Gothic", sans-serif;
  border-bottom: 2px black solid;
  height: 30px;
  width: 100%;
  margin-top: 20px;
}
.category-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
}
.category-count {
  font-family: "Rubik", sans-serif;
  color: rgb(118, 118, 118);
}
.content {
  width: 60%;
  list-style: none;
}
.post-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.post-box img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  object-fit: contain;
}
.content-text {
  display: flex;
  flex-direction: column;
}
.content-title {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 0;
}
.post-time {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
  margin: 0;
}
.content-description {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
}
.comment-count {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
}
.footer {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #e7e7e767;
}
.go-first {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 25px;
  background-color: #54545467;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}
/* Tablet and Mobile version CSS */
@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .head-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .head-menu li {
    width: 100%;
    text-align: center;
  }
  .head-link {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggleBtn {
    display: block;
  }
  .head-menu.active,
  .head-link.active,
  .nav-sidebar.active {
    display: flex;
  }
  .sidebar {
    display: none;
  }
  .content {
    width: 90%;
  }
}
